@page
@using Peers.Core.Payments.Providers.Moyasar
@model Peers.Api.Pages.Payments.PayModel
@{
    Layout = "_LayoutPayments";
}

@if (Model.PageScript is not null)
{
    <div class="payment-form"></div>

    @section Head {
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/moyasar-payment-form@2.2.3/dist/moyasar.css" />
        <script src="https://cdn.jsdelivr.net/npm/moyasar-payment-form@2.2.3/dist/moyasar.umd.min.js"></script>
    }

    @section Scripts {
        <script>
            @Html.Raw(Model.PageScript)
        </script>
    }
}
