.container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /*centers items on the line (the x-axis by default)*/
  align-items: center;
  /*centers items on the cross-axis (y by default)*/
}

.login-container {
  width: 360px;
}

.login-logo {
  margin: auto;
  display: block;
}

label.ant-checkbox-wrapper {
  vertical-align: -webkit-baseline-middle;
}

.reset {
  float: right;
  padding-right: 0 !important;
}

button[type=submit] {
  width: 100%;
}